<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Settings" type="HareDu.Tests, Config"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="HareDu.Tests.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="HareDu.Tests.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1211">
        <arg key="configType" value="FILE" />
        <arg key="configFile" value="log4net.config" />
      </factoryAdapter>
    </logging>
  </common>
  <userSettings>
    <HareDu.Tests.Settings>
      <setting name="HostUrl" serializeAs="String">
        <value>http://localhost:15672</value>
      </setting>
      <setting name="LoginUsername" serializeAs="String">
        <value>guest</value>
      </setting>
      <setting name="LoginPassword" serializeAs="String">
        <value>guest</value>
      </setting>
      <setting name="VirtualHost" serializeAs="String">
        <value>MyTestVirtualHost</value>
      </setting>
      <setting name="Exchange" serializeAs="String">
        <value>MyTestExchange</value>
      </setting>
      <setting name="Queue" serializeAs="String">
        <value>MyTestQueue</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value>test_user</value>
      </setting>
      <setting name="UserPassword" serializeAs="String">
        <value>test_user_password</value>
      </setting>
      <setting name="UserPermissionsTags" serializeAs="String">
        <value>administrator</value>
      </setting>
      <setting name="Channel" serializeAs="String">
        <value>127.0.0.1:13507 -&gt; 127.0.0.1:5672</value>
      </setting>
      <setting name="Connection" serializeAs="String">
        <value>127.0.0.1:13507 -&gt; 127.0.0.1:5672</value>
      </setting>
      <setting name="RoutingKey" serializeAs="String">
        <value>test_routing_key</value>
      </setting>
      <setting name="Policy" serializeAs="String">
        <value>MyTestPolicy</value>
      </setting>
    </HareDu.Tests.Settings>
  </userSettings>
</configuration>