<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Settings" type="HareDu.Tests, Config"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="HareDu.Tests.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <HareDu.Tests.Settings>
      <setting name="HostUrl" serializeAs="String">
        <value>http://localhost:55672</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value>guest</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>guest</value>
      </setting>
      <setting name="VirtualHost" serializeAs="String">
        <value>MyTestVirtualHost</value>
      </setting>
      <setting name="Exchange" serializeAs="String">
        <value>MyTestExchange</value>
      </setting>
      <setting name="Queue" serializeAs="String">
        <value>MyTestQueue</value>
      </setting>
    </HareDu.Tests.Settings>
  </userSettings>
</configuration>